.button {
    background-color: #4CAF50;
    color: blue;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;   
    margin:2px;
    cursor: pointer;
    margin-top:3%;
    margin-right:1.5%;
}
.top{
    float: right;
    color:blue;
    background-color:palevioletred;
    border-radius: 20%;
    cursor: pointer;
}
.top:hover {
    background-color: dodgerblue;
    color: white;
}

.media{
    background-color: yellowgreen;
}

.g1 {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}
.g1 {
    border: 2px lightseagreen;
    border-radius: 5px;
}

.g1 > div {
    border: 2px lightseagreen;
    border-radius: 5px;
    background-color: lightseagreen;
    padding: 10px;
    color:aqua;
}

.nested {
    border: 2px #f1f1f1;
    border-radius: 5px;
    background-color: #f1f1f1;
    padding: 1em;
}

* {box-sizing: border-box;}

h1{
    font-family: sans-serif;
    font-size: 30px;
    text-align:center;
    color:pink;
}
.middle{
     width: 100%;   
}
p{
    text-align: center;
}
.img1{
    width: 100%;
}
.img2{
    width: 100%;
}
.img3{
    width: 100%;
}
footer{
   text-align: center;
}
