.button {
    background-color: #4CAF50; /* Green */
    color: blue;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;   
    margin:2px;
    cursor: pointer;
    margin-top:3%;
    margin-right:1.5%;
    text-decoration: NONE;
}
.top{
   float: right;
   align-content: 100%; 
   color:blue;
   background-color:palevioletred;
   border-radius: 20%;
   cursor: pointer;
}
.top:hover {
    background-color: dodgerblue;
    color: white;
}

.media{
    background-color: yellowgreen;
}
.img{
    
    width: 80%;
    float: top-right;
     
}
.logo{
    width:50px; 
}
.g1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  
}
* box-sizing: border-box;

.g1 {
  border: 2px lightseagreen;
  border-radius: 5px;
}

.g1 > div {
  border: 2px lightseagreen;
  border-radius: 5px;
  background-color: lightseagreen;
  padding: 10px;
  color:pink;
}

.nested {
  border: 2px #f1f1f1;
  border-radius: 5px;
  background-color: #f1f1f1;
  padding: 1em;
}
body{
  margin:0;
}
.img1{
    width: 80%;
    height:400px;
}
.img2{
    width: 80%;
    height:400px;
}

@media screen and (250px :6280px) {
  .media {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .top{
    width: 100px;  
  }
}